# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/target/
/conf_topt_serv-example.json
/nb-configuration.xml/
/nbactions.xml-example/